* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-canvas {
  width: 1024px;
  height: 1024px;
  background-color: #ffffff;
  cursor: default;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #000000;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.modal-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
  transition: opacity 0.2s;
  z-index: 1001;
}

.modal-close:hover {
  opacity: 0.7;
}

.pixel-preview {
  width: 256px;
  height: 256px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.processing-indicator {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #000000;
  font-weight: bold;
}

.pixel-coords {
  color: white;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0;
  white-space: nowrap;
}

.pixel-coords span {
  margin-right: 0;
}

.coord-input {
  width: 64px;
  padding: 0;
  font-size: 1.25rem;
  border: none;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  -moz-appearance: textfield;
}

.coord-input::-webkit-outer-spin-button,
.coord-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.coord-input:focus {
  outline: none;
}

.buy-button {
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;
  padding: 0;
  font-size: 2.0625rem;
  font-weight: 600;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 0;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.buy-button-black {
  background-color: #000000;
  color: #ffffff;
  cursor: default;
}

.buy-button:hover:not(:disabled) {
  opacity: 0.8;
}

.buy-button:disabled {
  background-color: #ffffff;
  color: #000000;
  cursor: not-allowed;
  opacity: 1;
}

.buy-button-black:disabled {
  background-color: #000000;
  color: #ffffff;
  opacity: 1;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.loading-overlay-visible {
  display: flex;
}

.loading-overlay-hidden {
  display: none;
}

.loading-arrows {
  width: 64px;
  height: 64px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.0625rem;
  font-weight: bold;
}
